@model IEnumerable<CovidCertificate.Data.Models.Certificate>

@{
    ViewData["Title"] = "Index";
}

<h2>Add Certificate</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidMonths)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ValidMonths)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>  |
                <a asp-action="Check" asp-route-id="@item.Id">Check</a> |
            </td>
        </tr>
}
    </tbody>
</table>
