@model CovidCertificate.ViewModels.SchoolAdmins.SchoolAdminIndexViewModel

<h1>Невалидни сертификати</h1>

<p>Invalid certificate: @Model.TotalTestsNextWeek</p>
<h2>Учители:</h2>
<table class="table table-bordered table-hover">
    @if (Model.Teachers.Any())
    {
        <thead>
            <tr>
                <th>Име:</th>
                <th>Има валиден сертификат:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@(item.HasValidCertificate?"Yes":"No")</td>
                </tr>
            }
        </tbody>
    }
</table>
<h2>Ученици:</h2>

<table class="table table-bordered table-hover">
    @if (Model.Students.Any())
    {
        <thead>
            <tr>
                <th>Име:</th>
               <th>Има валиден сертификат:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@(item.HasValidCertificate?"Yes":"No")</td>
                </tr>
            }
        </tbody>
    }
</table>


