@model CovidCertificate.Data.Models.School

@{
    ViewData["Title"] = "Delete";
}

<h2>Изтриване</h2>

<p>Сигурни ли сте, че искате да го изтриете?</p>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeByAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeByAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Връщане към списък</a>
    </form>
</div>
